# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 6 Things to make this app good enough(My part)!

# //TODO: EDIT TITLE OF THE GROUPS NOT WORKING!
# //TODO: EDIT TASK IN QuickEdit not working proprely (You are able to edit but can't save it afterwards)! (In progress now)
# //TODO: ALSO in QuickEdit placment of the modal ( Edit labels, change cover , all of that should be placed better!) (DONE!)
# //TODO: To be able to exit the QuickEdit on every click outside the the edit or have exit button! (DONE! , added close btn)
# //TODO: Right now when you add label in QuickEdit it exit immediatly! not wanted ! fix this
# //TODO: Disable drag and drop on QuickEDIT
# //TODO: Edit memeber not working in quickEdit